<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="2367Venz.VkPhotos" Publisher="CN=AC627798-581D-4841-B3BA-DD2C725E9A5E" Version="0.4.3.0" />
  <!--<mp:PhoneIdentity PhoneProductId="9c3d83f0-b3b6-4110-baa2-5b92a425cadd" PhonePublisherId="00000000-0000-0000-0000-000000000000" />-->
  <mp:PhoneIdentity PhoneProductId="caafcde9-145f-474e-8622-8d018725f18c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Vk Photo Map</DisplayName>
    <PublisherDisplayName>Venz</PublisherDisplayName>
    <Logo>Resources\Package\Store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VkPhotos.App">
      <m3:VisualElements DisplayName="Vk Photo Map" Square150x150Logo="Resources\Package\Square_150x150.png" Square44x44Logo="Resources\Package\Square_44x44.png" Description="A photo manager app for your photos in Vkontakte social network." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Resources\Package\Wide_310x150.png" Square71x71Logo="Resources\Package\Square_71x71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="vkphotos" />
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="vk5204193" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>